#items {
	text-align: left;
}

#recruiting {
	text-align: right;
}

#items th.slot {
	width: 150px;
}

#sharelink {
	margin-left: 8px;
	width: 18em;
	text-align: center;
}

footer {
	margin-top: 32px;
}

#curse {
	color:inherit;
	text-decoration: none;
}
